<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t_thinkpad.projectpetsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!--<uses-permission android:name="android.permission.CAMERA" />-->


    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <!-- <uses-permission android:name="android.permission.VIBRATE"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource"/>
        </provider>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:enabled="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".MainMenu"
            android:label="ProjectPets" />
        <activity
            android:name=".MyPetsActivity"
            android:label="MyPets"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".MyProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".SearchPetsActivity"
            android:label="Search Pets"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".NotificationsActivity"
            android:label="Notifications"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="Search results"
            android:parentActivityName=".SearchPetsActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".secondLoginActivity"
            android:label="Log in"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainMenuShelter"
            android:label="ShelterMainMenu" />
        <activity
            android:name=".AddPetsActivity"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".DetailedSearchResult"
            android:parentActivityName=".SearchResultsActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4iI3DDRC5hgnJaIBVi3kB7UNMV54_uwI"/>
    </application>



</manifest>